.navbar
{
    background: transparent;
    height:80px;
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.2rem;
    z-index: 999;
}

.active{
    background:red;
    /* linear-gradient(90deg,rgb(66,2,194) 0%,rgb(0,78,194)100%); */
}